
@font-face {
    font-family: 'OpenSansRegularLight';
    src: url('/font/OpenSansRegularLight/OpenSansRegularLight.eot');
    src: url('/font/OpenSansRegularLight/OpenSansRegularLight.eot?#iefix') format('embedded-opentype'),
         url('/font/OpenSansRegularLight/OpenSansRegularLight.ttf')  format('truetype'),
         url('/font/OpenSansRegularLight/OpenSansRegularLight.svg#svgFontName') format('svg');
}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('/font/OpenSansRegular/OpenSansRegular.eot');
    src: url('/font/OpenSansRegular/OpenSansRegular.eot?#iefix') format('embedded-opentype'),
         url('/font/OpenSansRegular/OpenSansRegular.woff') format('woff'),
         url('/font/OpenSansRegular/OpenSansRegular.ttf')  format('truetype'),
         url('/font/OpenSansRegular/OpenSansRegular.svg#OpenSansRegular') format('svg');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'OpenSansRegular', sans-serif;
    font-style: normal;
}

a {
    text-decoration: none;
    /* for images */
    outline: none;
}
/* Portfolio Page CSS */

body {
    height: 100%;
    background: #f5f5f5;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-box-align: start;
    -moz-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.side, .main {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto; 
    flex: 0 0 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    padding: 35px 0px 20px 0px;
}

.main {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 20px 20px 20px 20px;
}

.side {
    position: fixed;
}

.side-static {
    position: static;
}

.side-title {
/*    color: rgba(150, 150, 150, 0.4);*/
    margin-left: 25px;
    color: #bdc3c7;
    margin-top: 20px;
    font-size: 1.7em;
    margin-bottom: 10px;
}

.side-title a {
/*    color: #fff;
    text-shadow: 2px 2px 4px rgba(150, 150, 150, 0.71);*/
    color: #bdc3c7;
}

.side-item {
    text-transform: uppercase;
    font-size: 1.1em;
    margin-top: 7px;
}

.side-item a {
    color: #bdc3c7;
    border-left: 5px solid rgba(0, 0, 0, 0);
    padding-left: 25px;
    padding: 2px 10px 2px 22px;
    -webkit-text-stroke: 0.5px;
    -webkit-transition: all ease-out 0.4s;
    -moz-transition: all ease-out 0.4s;
    -o-transition: all ease-out 0.4s;
    transition: all ease-out 0.4s;
}

.side-item a:hover, .side-item.active > a {
    border-left: 5px solid #bdc3c7;
    -webkit-text-stroke: 0.5px;
}

.nav-portfolio {
    font-size: 0.85em;
    text-transform: uppercase;
    border-bottom: 1px solid #bdc3c7;
}

.nav-portfolio li {
    display: inline-block;
}

.portfolio-projects {
    margin-top: 25px;
}

.project {
    width: 200px;
    height: 150px;
    border: 7px solid #fff;
    box-shadow: 2px 2px 6px rgba(150, 150, 150, 0.2), inset 1px 1px 2px rgba(150, 150, 150, 0.2);
    margin: 10px 20px 0 0;
    float: left;
    -webkit-text-stroke: 0.35px;
    -webkit-transition: box-shadow ease-out 0.4s;
    -moz-transition: box-shadow ease-out 0.4s;
    -o-transition: box-shadow ease-out 0.4s;
    transition: box-shadow ease-out 0.4s;
}

.overlay {
    background: rgba(255 ,255 ,255 ,.9);
    opacity: 0;
    -webkit-transition: opacity ease-out 0.4s;
    -moz-transition: opacity ease-out 0.4s;
    -o-transition: opacity ease-out 0.4s;
    transition: opacity ease-out 0.4s;
    height: 136px;
    padding: 7px;
}

.text {
    font-size: 0.75em;
    -webkit-text-stroke: 0.25px;
}

.text > em {
    font-size: 1.3em;
    color: #707373;
}

.text > .content {
    margin-top: 5px;
    color: #7E8282;
}

.project:hover {
/*    box-shadow: 2px 2px 4px rgba(150, 150, 150, 0.71), inset 1px 1px 2px rgba(150, 150, 150, 0.7);*/
}

.project:hover .overlay {
    opacity: 1;
}

.flo {
    background: url("/portfolio/flo/flo_preview.png");
    background-size: 200px 150px;
}

.redesign-gethighered {
    background: url("/portfolio/gethighered/gethighered_preview.png");
    background-size: 200px 150px;
}

.redesign-wikipedia {
    background: url("/portfolio/wikipedia/wikipedia_preview.png");
    background-size: 200px 150px;
}

.redesign-offthewallmedia {
    background: url("/portfolio/offthewallmedia/offthewallmedia_preview.png");
    background-size: 200px 150px;
}

.branding-botscrape {
    background: url("/portfolio/botscrape/botscrape_preview.png");
    background-size: 200px 150px;
}

.branding-robido {
    background: url("/portfolio/robido/robido_preview.png");
    background-size: 200px 150px;
}

.redesign-closettheory {
    background: url("/portfolio/closet-theory/closet-theory_preview.png");
    background-size: 200px 150px;
}

.design-veloria {
    background: url("/portfolio/veloria/veloria_preview.png");
    background-size: 200px 150px;
}

/* Project Pages */

h1.project-title {
    font-size: 1.5em;
    text-align: center;
}

.shots-container, .about-content {
    width: 800px;
    margin: auto;
}

.shots {
    padding-top: 10px;
    padding-bottom: 10px;
}

.shots > img {
    margin: 10px auto auto auto;
    width: 800px;
    text-align: center;
}

.CT .shots > img, .veloria .shots > img {
    cursor: pointer;
}

.shots > p {
    text-align: center;
    margin-top: 15px;
}

/* For business cards */
.otwm .shot-5 > img, .otwm .shot-6 > img {
    width: 300px;
    margin-left: 250px;
}

.about-content {
    font-family: "OpenSansRegular", Helvetica, Arial, sans-serif;
}

.about-content h1 {
    margin-left: 220px;
    font-size: 16pt;
}

.about-content p {
    margin-left: 220px;
    line-height: 125%;
}

.about-content img {
    float: left;
    width: 200px;
}

.about-content a {
    color: #0000ff;
}

/* for modal */

.modal-container {
    display: none;
    width: 100%;
    background: rgba(0,0,0, 0.8);
    z-index: 100;
    position: fixed;
    height: inherit;
}

.modal-container > img {
    margin-top: 50px;
    margin-bottom: 50px;
    left: 50%;
    margin-left: -700px;
    width: 1400px;
    z-index: 110;
    position: relative;
}