@font-face {
    font-family: 'GothamBold';
    src: url('/font/GothamBold/GothamBold.eot');
    src: url('/font/GothamBold/GothamBold.eot?#iefix') format('embedded-opentype'),
    url('/font/GothamBold/GothamBold.woff') format('woff'),
    url('/font/GothamBold/GothamBold.ttf')  format('truetype'),
    url('/font/GothamBold/GothamBold.svg#Montserrat') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansLight';
    src: url('/font/OpenSansLight/OpenSansLight.eot');
    src: url('/font/OpenSansLight/OpenSansLight.eot?#iefix') format('embedded-opentype'),
    url('/font/OpenSansLight/OpenSansLight.woff') format('woff'),
    url('/font/OpenSansLight/OpenSansLight.ttf')  format('truetype'),
    url('/font/OpenSansLight/OpenSansLight.svg#OpenSansLight') format('svg');
}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('/font/OpenSansRegular/OpenSansRegular.eot');
    src: url('/font/OpenSansRegular/OpenSansRegular.eot?#iefix') format('embedded-opentype'),
    url('/font/OpenSansRegular/OpenSansRegular.woff') format('woff'),
    url('/font/OpenSansRegular/OpenSansRegular.ttf')  format('truetype'),
    url('/font/OpenSansRegular/OpenSansRegular.svg#OpenSansRegular') format('svg');
}

@font-face {
    font-family: 'OpenSansSemiBold';
    src: url('/font/OpenSansSemiBold/OpenSansSemiBold.eot');
    src: url('/font/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix') format('embedded-opentype'),
    url('/font/OpenSansSemiBold/OpenSansSemiBold.woff') format('woff'),
    url('/font/OpenSansSemiBold/OpenSansSemiBold.ttf')  format('truetype'),
    url('/font/OpenSansSemiBold/OpenSansSemiBold.svg#OpenSansSemiBold') format('svg');
}

@font-face {
    font-family: 'FontAwesome';
    src: url('/font/FontAwesome/FontAwesome.eot');
    src: url('/font/FontAwesome/FontAwesome.eot?#iefix') format('embedded-opentype'),
    url('/font/FontAwesome/FontAwesome.woff') format('woff'),
    url('/font/FontAwesome/FontAwesome.ttf')  format('truetype'),
    url('/font/FontAwesome/FontAwesome.svg#FontAwesome') format('svg');
}


@-webkit-keyframes floating {
    0% {bottom: 35px;}
    4% {bottom: 20px;}
    8% {bottom: 31px;}
    12% {bottom: 20px;}
    16% {bottom: 24px;}
    20% {bottom: 20px;}
    100% {bottom: 20px;}
}

@-moz-keyframes floating {
    0% {bottom: 35px;}
    4% {bottom: 20px;}
    8% {bottom: 31px;}
    12% {bottom: 20px;}
    16% {bottom: 24px;}
    20% {bottom: 20px;}
    100% {bottom: 20px;}
}

@-o-keyframes floating {
    0% {bottom: 35px;}
    4% {bottom: 20px;}
    8% {bottom: 31px;}
    12% {bottom: 20px;}
    16% {bottom: 24px;}
    20% {bottom: 20px;}
    100% {bottom: 20px;}
}

@-ms-keyframes floating {
    0% {bottom: 35px;}
    4% {bottom: 20px;}
    8% {bottom: 31px;}
    12% {bottom: 20px;}
    16% {bottom: 24px;}
    20% {bottom: 20px;}
    100% {bottom: 20px;}
}

@keyframes floating {
    0% {bottom: 35px;}
    4% {bottom: 20px;}
    8% {bottom: 31px;}
    12% {bottom: 20px;}
    16% {bottom: 24px;}
    20% {bottom: 20px;}
    100% {bottom: 20px;}
}

.bounce {
    -webkit-animation: floating 2s ease-in infinite;
    -moz-animation: floating 2s ease-in infinite;
    -o-animation: floating 2s ease-in infinite;
    animation: floating 2s ease-in infinite;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'OpenSansRegular', Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: #0000ff;
    font-style: none;
    font: inherit;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: visible;
}

body {
    background-image: url("/images/image-blurred.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.modal {
    width: 100%;
    min-height: 100vh;
    background: rgba(255, 255, 255, 1);
    position: fixed;
    z-index: 2000;
    display: none;
    height: inherit;

}

.modal-backbutton {
    position: fixed;
    z-index: 3000;
    left: 20px;
    top: 20px;
    background: #bfbfbf;
    padding: 7px 11px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-family: "FontAwesome";
    font-size: 40px;
    color: #fefefe;
}

.modal-content {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
}

/* modal content project styling */

h1.project-title {
    font-size: 26pt;
    font-family: "OpenSansLight", Helvetica, Arial, sans-serif;
    color: #3498db;
    font-weight: normal;
}

.shots-container, .about-content {
    max-width: 1400px;
    margin: auto;
}

.shots {
    padding-top: 10px;
    padding-bottom: 10px;
}

.shots > img {
    margin: 10px auto auto auto;
    width: 800px;
    text-align: center;
}

.moreToCome {
    font-family: "OpenSansRegular", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24pt;
    color: rgba(0, 0, 0, 0.3);
}

.CT .shots > img, .veloria .shots > img {
    width: inherit;
}

.shots > p {
    max-width: 800px;
    text-align: center;
    margin-top: 10px;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

/* For business cards */
.otwm .shot-5 > img, .otwm .shot-6 > img {
    width: 300px;
}

/* main page styling */

.main {
    width: 100%;
    height: 100%;
}

.main section:not(#portfolio) {
    height: 100%;
    width: 100%;
    position: relative;
}

.slidedown {
    -webkit-transition: -webkit-transform 0.75s;
    -moz-transition: -moz-transform 0.75s;
    -ms-transition: -ms-transform 0.75s;
    -o-transition: -o-transform 0.75s;
    transition: transform 0.75s;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    display: none;
    cursor: pointer;
    font-family: "FontAwesome";
    font-size: 25px;
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    bottom: 20px;
    left: 50%;
    margin-left: -23px;
    text-align: center;
    z-index: 1000;
    padding-top: 11px;
    width: 46px;
    height: 35px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

.slidedown-alt {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}


#splash {
    background-image: url("/images/image.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    z-index: -1000;
}

#about, #contact {
    background: #fff;
}

#portfolio {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 50px;
}

.title {
    font-family: "OpenSansLight", Helvetica, Arial, sans-serif;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 45pt;
    font-weight: lighter;
}

/* about page */

.about-container {
    position: absolute;
    width: 800px;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}


#about .title, #contact .title {
    margin: auto auto 5px auto;
    color: #3498db;
/*    color: #7DC8FA;*/
}

.about-content {
    max-width: 800px;
    margin: auto;
    color: #7f8c8d;
}

.about-content .about-profilepicture {
    width: 190px;
    height: 190px;
    background-image: url("/images/profile.jpg");
    background-size: 190px;
    -webkit-border-radius: 95px;
    -moz-border-radius: 95px;
    border-radius: 95px;
    position: absolute;
}

.about-content p {
    margin-left: 220px;
    line-height: 135%;
}

.about-content a:hover {
    text-decoration: underline; 
}

/* portfolio page */

#portfolio {
    min-height: 100vh;
}

#portfolio .title {
    color: #fff;
}

.projects {
    padding: 0px 10px;
    text-align: justify;
    max-width: 65%;
    margin: 25px auto auto auto;
}

.project {
    position: relative;
    margin: 20px 7px 0 7px;
    width: 250px;
    height: 250px;
    background-color: #f0f0f0;
    display: inline-block;
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px;
    border-radius: 125px;
    text-align: center;
    padding: 0;
    font-size: 12pt;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
    -webkit-transition: 0.75s;
    -moz-transition: 0.75s;
    -ms-transition: 0.75s;
    -o-transition: 0.75s;
    transition:  0.75s;
}

.projects:after {
    content:'';
    display: inline-block;
    width: 100%;
}

.project.break {
    height: 0;
}

@media all and (max-width:2000px) {.project {width:250px; height:250px;-webkit-border-radius: 125px;-moz-border-radius: 125px;border-radius: 125px;}}
@media all and (max-width:1660px) {.project {width:300px; height:300px;margin: 20px 2px 0px 2px;-webkit-border-radius: 150px;-moz-border-radius: 150px;border-radius: 150px;}}
@media all and (max-width:1480px) {.project {width:260px; height:260px;-webkit-border-radius: 130px;-moz-border-radius: 130px;border-radius: 130px;}}
@media all and (max-width:1330px) {.project {width:250px; height:250px;-webkit-border-radius: 125px;-moz-border-radius: 125px;border-radius: 125px;}}
@media all and (max-width:1230px) {.project {width:300px; height:300px;-webkit-border-radius: 150px;-moz-border-radius: 150px;border-radius: 150px;} .projects {width:55%;}}
@media all and (max-width:1150px) {.project {width:270px; height:270px;-webkit-border-radius: 140px;-moz-border-radius: 140px;border-radius: 140px;}}
@media all and (max-width:1050px) {.project {width:300px; height:300px;-webkit-border-radius: 150px;-moz-border-radius: 150px;border-radius: 150px;} .projects {width:65%;}}
@media all and (max-width:980px) {.project {width:270px; height:270px;-webkit-border-radius: 140px;-moz-border-radius: 140px;border-radius: 140px;}}
@media all and (max-width:880px) {.project {width:250px; height:250px;-webkit-border-radius: 125px;-moz-border-radius: 125px;border-radius: 125px;}}
@media all and (max-width:820px) {.project {width:300px; height:300px;-webkit-border-radius: 150px;-moz-border-radius: 150px;border-radius: 150px;left: 50%;-webkit-transform: translateX(-50%);-moz-transform: translateX(-50%);-ms-transform: translateX(-50%);-o-transform: translateX(-50%);transform: translateX(-50%);}}
@media all and (max-width:480px) {.project {width:250px; height:250px;-webkit-border-radius: 125px;-moz-border-radius: 125px;border-radius: 125px;}}

.flo {
    background-image: url("/portfolio/flo/flo_preview.png");
}

.redesign-gethighered {
    background-image: url("/portfolio/gethighered/gethighered_preview.png");
}

.redesign-wikipedia {
    background-image: url("/portfolio/wikipedia/wikipedia_preview.png");
}

.redesign-offthewallmedia {
    background-image: url("/portfolio/offthewallmedia/offthewallmedia_preview.png");
}

.branding-botscrape {
    background-image: url("/portfolio/botscrape/botscrape_preview.png");
}

.branding-robido {
    background-image: url("/portfolio/robido/robido_preview.png");
}

.redesign-closettheory {
    background-image: url("/portfolio/closet-theory/closet-theory_preview.png");
}

.design-veloria {
    background-image: url("/portfolio/veloria/veloria_preview.png");
}

.project a {
    text-decoration: none;
    color: #222;
    display: block;
}

.overlay {
    opacity: 0;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border-radius: 150px;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.95);
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: 0.50s;
    -moz-transition: 0.50s;
    -ms-transition: 0.50s;
    -o-transition: 0.50s;
    transition:  0.50s;
}

.overlay .text {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.overlay:hover {
    opacity: 1;
}

.overlay em {
    font-size: 1.1em;
    font-style: normal;
    font-family: "OpenSansSemiBold", Helvetica, Arial, sans-serif;
}

.overlay .content {
    margin-left: 10%;
    margin-right: 10%;
}

/* contact page */

.contact-container {
    text-align: center;
    width: 500px;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

.info-line {
    vertical-align: middle;
    font-family: "OpenSansRegular", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 1.1em; 
    color: #7f8c8d;
    margin: 5px 0;
}

.social-icons {
    font-family: "FontAwesome";
    font-size: 25px;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}

.contact-container a {
    color: rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.30s;
    -moz-transition: 0.30s;
    -ms-transition: 0.30s;
    -o-transition: 0.30s;
    transition: 0.30s;
}

.contact-container a:hover {
    -webkit-transition: 0.30s;
    -moz-transition: 0.30s;
    -ms-transition: 0.30s;
    -o-transition: 0.30s;
    transition: 0.30s;
}

.contact-container a#dribbble:hover {
    color: #ea4c89;
}

.contact-container a#facebook:hover {
    color: #3b5998;
}

.contact-container a#twitter:hover {
    color: #55acee;
}