html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-text-stroke: 0.35px;
    color: #bdc3c7;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    /* for images */
    outline: none;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/font/Montserrat/Montserrat.eot');
    src: url('/font/Montserrat/Montserrat.eot?#iefix') format('embedded-opentype'),
         url('/font/Montserrat/Montserrat.ttf')  format('truetype'),
         url('/font/Montserrat/Montserrat.svg#svgFontName') format('svg');
}

@font-face {
    font-family: 'MontserratBold';
    src: url('/font/MontserratBold/MontserratBold.eot');
    src: url('/font/MontserratBold/MontserratBold.eot?#iefix') format('embedded-opentype'),
         url('/font/MontserratBold/MontserratBold.ttf')  format('truetype'),
         url('/font/MontserratBold/MontserratBold.svg#svgFontName') format('svg');
}

@font-face {
    font-family: 'HelveticaNeueLight';
    src: url('/font/HelveticaNeueLight/HelveticaNeueLight.eot');
    src: url('/font/HelveticaNeueLight/HelveticaNeueLight.eot?#iefix') format('embedded-opentype'),
         url('/font/HelveticaNeueLight/HelveticaNeueLight.ttf')  format('truetype'),
         url('/font/HelveticaNeueLight/HelveticaNeueLight.svg#svgFontName') format('svg');

}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('/font/HelveticaNeue/HelveticaNeue.eot');
    src: url('/font/HelveticaNeue/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
         url('/font/HelveticaNeue/HelveticaNeue.ttf')  format('truetype'),
         url('/font/HelveticaNeue/HelveticaNeue.svg#svgFontName') format('svg');

}

body {
    background: #ecf0f1;
    font-family: "Montserrat", "HelveticaNeueLight", Helvetica, Arial, sans-serif;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-box-align: start;
    -moz-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.side, .main {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto; 
    flex: 0 0 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    padding: 35px 0px 20px 0px;
}

.main {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 55px 20px 20px 20px;
}

.side-title {
/*    color: rgba(150, 150, 150, 0.4);*/
    margin-left: 25px;
    color: #bdc3c7;
    margin-top: 20px;
    font-size: 1.7em;
    margin-bottom: 10px;
}

.side-title a {
/*    color: #fff;
    text-shadow: 2px 2px 4px rgba(150, 150, 150, 0.71);*/
    color: #bdc3c7;
}

.side-item {
    text-transform: uppercase;
    font-size: 1.2em;
    font-family: "Montserrat", "HelveticaNeue", Helvetica, Arial, sans-serif;
    margin-top: 7px;
}

.side-item a {
    color: #bdc3c7;
    border-left: 5px solid rgba(0, 0, 0, 0);
    padding-left: 25px;
    padding: 2px 10px 2px 22px;
    -webkit-text-stroke: 0.5px;
    -webkit-transition: all ease-out 0.4s;
    -moz-transition: all ease-out 0.4s;
    -o-transition: all ease-out 0.4s;
    transition: all ease-out 0.4s;
}

.side-item a:hover, .side-item.active > a {
    border-left: 5px solid #bdc3c7;
    -webkit-text-stroke: 0.5px;
}

.nav-portfolio {
    font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
    font-size: 0.85em;
    text-transform: uppercase;
    border-bottom: 1px solid #bdc3c7;
}

.nav-portfolio li {
    display: inline-block;
}

.portfolio-projects {
    margin-top: 25px;
}

.project {
    width: 200px;
    height: 150px;
    border: 7px solid #fff;
/*    box-shadow: 2px 2px 4px rgba(150, 150, 150, 0.71), inset 1px 1px 2px rgba(150, 150, 150, 0.2);*/
    margin: 10px 20px 0 0;
    float: left;
    -webkit-transition: box-shadow ease-out 0.4s;
    -moz-transition: box-shadow ease-out 0.4s;
    -o-transition: box-shadow ease-out 0.4s;
    transition: box-shadow ease-out 0.4s;
}

.overlay {
    background: rgba(255 ,255 ,255 ,.8);
    opacity: 0;
    -webkit-transition: opacity ease-out 0.4s;
    -moz-transition: opacity ease-out 0.4s;
    -o-transition: opacity ease-out 0.4s;
    transition: opacity ease-out 0.4s;
    height: 150px;
}

.text {
    font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
    font-size: 0.75em;
}

.text > em {
    font-weight: bold;
    font-size: 1.1em;
    color: #707373;
}

.text > .content {
    margin-top: 5px;
    color: #7E8282;
}

.project:hover {
/*    box-shadow: 2px 2px 4px rgba(150, 150, 150, 0.71), inset 1px 1px 2px rgba(150, 150, 150, 0.7);*/
}

.project:hover .overlay {
    opacity: 1;
}

.flo {
    background: url("/portfolio/flo/flo_preview.png");
    background-size: 200px 150px;
}

.redesign-wikipedia {
    background: url("/portfolio/wikipedia/wikipedia_preview.png");
    background-size: 200px 150px;
}

.redesign-offthewallmedia {
    background: url("/portfolio/offthewallmedia/offthewallmedia_preview.png");
    background-size: 200px 150px;
}

.branding-botscrape {
    background: url("/portfolio/botscrape/botscrape_preview.png");
    background-size: 200px 150px;
}

.shots {
    margin: auto;
    border: 1px solid #ff0000;
}

.shots > img {
    margin: auto;
}