@font-face {
    font-family: 'FontAwesome';
    src: url('/font/FontAwesome/FontAwesome.eot');
    src: url('/font/FontAwesome/FontAwesome.eot?#iefix') format('embedded-opentype'),
    url('/font/FontAwesome/FontAwesome.woff') format('woff'),
    url('/font/FontAwesome/FontAwesome.ttf')  format('truetype'),
    url('/font/FontAwesome/FontAwesome.svg#FontAwesome') format('svg');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    color: #0000ff;
    font-style: none;
    font: inherit;
}

html,body {
    width: 100%;
    height: 100%;
}

body {
    background: #f7f7f7;
}


nav {
    height: 50px;
    max-width: 960px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

nav .title {
    font-weight: 300;
    padding-top: 10px;
}

nav .title a {
    color: #777;
    float: left;
}

ul {
    list-style: none;
}

nav ul {
    float: right;
    margin-top: 5px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    padding: 7px 15px;
    color: #777;
    -webkit-transition: all ease .25s;
    -moz-transition: all ease .25s;
    -o-transition: all ease .25s;
    transition: all ease .25s;
}

nav ul li a:hover {
  /*  background: rgba(0, 0, 0, 0.05);*/
    color: #333;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
}

nav ul li a:active {
    box-shadow: 0 0 0 0;
    -webkit-transition: all ease .1s;
    -moz-transition: all ease .1s;
    -o-transition: all ease .1s;
    transition: all ease .1s;
}

.main-content {
    height: calc(100% - 50px);
}

.portfolio-nav {
    width: 100px;
    height: 100%;
    float: left;
}

.main {
    width: calc(100% - 100px);
    height: 100%;
    float: right;
    padding: 20px;
    overflow: auto;
}

/* About Section */

.about-container {
    border: 1px solid #ff0000;
    position: absolute;
    max-width: 800px;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}


#about .title, #contact .title {
    margin: auto auto 5px auto;
    color: #3498db;
/*    color: #7DC8FA;*/
}

.about-content {
    max-width: 800px;
    margin: auto;
    color: #7f8c8d;
}

.about-content .about-profilepicture {
    width: 190px;
    height: 190px;
    background-image: url("/images/profile.jpg");
    background-size: 190px;
    -webkit-border-radius: 95px;
    -moz-border-radius: 95px;
    border-radius: 95px;
    position: absolute;
}

.about-content p {
    margin-left: 220px;
    line-height: 135%;
}

.about-content a:hover {
    text-decoration: underline; 
}



/* Portfolio Section */

.projects-container li {
    margin-top: 10px;
    text-align: center;
}


.project-link img {
    width: 52px;
    height: 52px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -webkit-transition: box-shadow linear .2s;
    -moz-transition: box-shadow linear .2s;
    -o-transition: box-shadow linear .2s;
    transition: box-shadow linear .2s;

}

.project-link:hover img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.project-link:active img {
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.5);
}

.project-link .project-title {
    display: block;
    opacity: 0;
    position: absolute;
    left: 80px;
    margin-top: -40px;
    background: rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-weight: normal;
    padding: 5px 7px;
    color: white;
    -webkit-transition: left linear .2s, opacity linear .1s;
    -moz-transition: left linear .2s, opacity linear .1s;
    -o-transition: left linear .2s, opacity linear .1s;
    transition: left linear .2s, opacity linear .1s;
}

.project-link:hover .project-title {
    opacity: 1;
    left: 90px;
}

.project-link .arrow-left {
    position: absolute;
    top: 6.5px;
    left: -7px;
    width: 0; 
    height: 0; 
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent; 
    
    border-right: 7px solid rgba(0, 0, 0, 0.5); 
}

/*.projects {
    max-width: 1366px;
    margin: auto;
}

.project-link {
}

.project-link img {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}*/