@font-face {
    font-family: 'FontAwesome';
    src: url('/font/FontAwesome/FontAwesome.eot');
    src: url('/font/FontAwesome/FontAwesome.eot?#iefix') format('embedded-opentype'),
    url('/font/FontAwesome/FontAwesome.woff') format('woff'),
    url('/font/FontAwesome/FontAwesome.ttf')  format('truetype'),
    url('/font/FontAwesome/FontAwesome.svg#FontAwesome') format('svg');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    color: #0000ff;
    font-style: none;
    font: inherit;
}

body {
    background: #fff;    
}


nav {
    height: 50px;
    max-width: 960px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

nav .title {
    font-weight: 300;
    padding-top: 10px;
}

nav .title a {
    color: #777;
    float: left;
}

ul {
    list-style: none;
}

nav ul {
    float: right;
    margin-top: 5px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    padding: 7px 15px;
    color: #777;
    -webkit-transition: all ease .25s;
    -moz-transition: all ease .25s;
    -o-transition: all ease .25s;
    transition: all ease .25s;
}

nav ul li a:hover {
  /*  background: rgba(0, 0, 0, 0.05);*/
    color: #333;
}


/* Portfolio Section */

.projects {
    max-width: 1366px;
    margin: auto;
}

.project-link {
}
.project-link img {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}