<h1 class="title">About Me</h1>
<div class="about-content">
<div class="about-profilepicture"></div>
<p>Hi, my name is Rohan Bhangui and I am a 19 year old UX/UI designer and developer from Toronto, Canada. As I pursue a degree in Computer Science at Ryerson University, in parallel, I work on creating great user interfaces and crafting functionality-first user experiences. Although I do a lot of freelance work for clients from all around the world, I am currently a co-founder and lead designer at a small web design and development consultancy called Robido. In my spare time I like to read and play a lot of sports.
  <br><br>
  Feel free to take a look at my <a href="/files/resume.pdf" target="_blank">resume</a>
</p>
</div>