<nav>
	<h1 class="nav-title">
		<a href="{{ site.baseurl }}/">
<!-- 			<svg version="1.1"
				 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
				 x="0px" y="0px" width="317.549px" height="475px" viewBox="0 0 317.549 475" style="enable-background:new 0 0 317.549 475;"
				 xml:space="preserve">
			<path id="stroke" d="M110.938,475C49.767,475,0,425.233,0,364.062V12.5C0,5.597,5.597,0,12.5,0h194.111
				c61.171,0,110.938,49.767,110.938,110.938s-49.767,110.938-110.938,110.938h-7.807c47.575,29.505,79.32,82.207,79.32,142.188
				c0,38.747-13.561,76.517-38.183,106.352c-4.394,5.325-12.273,6.08-17.597,1.685c-5.325-4.394-6.079-12.272-1.685-17.597
				c20.935-25.367,32.464-57.485,32.464-90.439c0-78.402-63.785-142.188-142.188-142.188c-6.903,0-12.5-5.597-12.5-12.5
				s5.597-12.5,12.5-12.5h95.674c47.386,0,85.938-38.552,85.938-85.938S253.997,25,206.611,25H25v339.062
				C25,411.448,63.552,450,110.938,450s85.938-38.552,85.938-85.938s-38.552-85.938-85.938-85.938c-6.903,0-12.5-5.597-12.5-12.5
				s5.597-12.5,12.5-12.5c61.171,0,110.938,49.767,110.938,110.938S172.108,475,110.938,475z"/>
			</svg> -->
			<svg version="1.1"
				 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
				 x="0px" y="0px" width="55.302px" height="81.948px" viewBox="0 0 55.302 81.948"
				 style="enable-background:new 0 0 55.302 81.948;" xml:space="preserve">
			<path id="XMLID_17_" style="opacity:0.35;fill-rule:evenodd;clip-rule:evenodd;" d="M8.002,0l24.949,0
				c12.344,0,22.351,10.007,22.351,22.351v0c0,12.344-10.007,22.351-22.351,22.351H0.009V7.993C0.009,3.578,3.588,0,8.002,0z"/>
			<rect id="XMLID_16_" x="0" y="52.42" style="opacity:0.175;fill-rule:evenodd;clip-rule:evenodd;" width="12.601" height="29.528"/>
			<polygon id="XMLID_15_" style="opacity:0.175;fill-rule:evenodd;clip-rule:evenodd;" points="49.765,81.948 37.164,81.948 
				27.164,52.42 39.765,52.42 "/>
			</svg>

		</a>
	</h1>
	<ul class="nav-links">
		{% assign sorted_pages = site.pages | sort:"order" %}
		{% for node in sorted_pages %}
			{% if node.title %}
				{% if page.url == node.url %}
					<li><a class="page-link active" href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a></li>
				{% else %}
					<li><a class="page-link" href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a></li>
				{% endif %}
			{% endif %}
		{% endfor %}
	</ul>
	<select name="" id="" class="nav-menu-compact">
		<option href="{{ site.baseurl }}/">Home</option>
		<optgroup label="Portfolio">
			{% for item in site.data.projects %}
				{% if item.type contains "nav" and item.url contains "portfolio" %}
					{% if page.url == item.url %}
						<option href="{{item.url | prepend: site.baseurl}}" selected>{{item.name}}</option>
					{% else %}
						<option href="{{item.url | prepend: site.baseurl}}">{{item.name}}</option>
					{% endif %}
				{% endif %}
			{% endfor %}
			{% for item in site.data.projects %}
				{% if item.url contains "http://" %}
					<option href="{{item.url}}" target="_blank">{{item.name}}</option>
				{% else %}
					{%if item.type contains "project" %}
						{% if page.url == item.url %}
							<option href="{{item.url | prepend: site.baseurl}}" selected>{{item.name}}</option>
						{% else %}
							<option href="{{item.url | prepend: site.baseurl}}">{{item.name}}</option>
						{% endif %}
					{% endif %}
				{% endif %}
			{% endfor %}
		</optgroup>
		{% for item in site.data.projects %}
			{% if item.type contains "nav" and item.url contains "about" or item.url contains "contact" %}
				{% if page.url == item.url %}
					<option href="{{item.url | prepend: site.baseurl}}" selected>{{item.name}}</option>
				{% else %}
					<option href="{{item.url | prepend: site.baseurl}}">{{item.name}}</option>
				{% endif %}
			{% endif %}
		{% endfor %}
	</select>
</nav>